[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6.3"

[packages]

"boto3" = "*"
celery = "*"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
pillow = "*"
"psycopg2" = "*"
pytest = "*"
requests = "*"
"s3transfer" = "*"
sphinx = "*"
flask-httpauth = "*"


[dev-packages]

