{% extends "base.html" %}
{% block content %}
<div id="item_header_collection">

    <img style="width:100%;height:auto;" src="https://s3.amazonaws.com/{{bucketname}}/{{ item.0.item_loc }}" />

    <div id="item_header_title">
      <small><strong>{{ item.0.name }}</strong></small>
    </div>

</div>




<div id="item_results">
  {% for k, v in item.0.items() %}
  {% if k == 'items' %}
  {% for j,item in v.items() %}

  {% if item.item_type == 'image' %}

    <div class="item">

          <a href="/item/{{ item.id }}">
              <img width="100%" src="https://s3.amazonaws.com/{{bucketname}}/{{item.item_thumb}}" />
          </a>
      <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
          <div style="text-align:center;">
              <small><strong>Image</strong></small>
          </div>
      </div>

      <div class="item_panel">
          <div style="text-align:center;">

              <a href="#">
              <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
          </a>
          <a href="#">
              <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
          </a>

          <a href="#">
              <small><strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></strong></small>
          </a>

          </div>
      </div>

    </div>

    {% elif item.item_type == 'people' %}



        <div class="item">
                <a href="/item/{{ item.id }}">
                    <img width="100%" src="https://s3.amazonaws.com/{{bucketname}}/{{item.item_thumb}}" />
                </a>
            <div class="item_header_type">
                <div style="text-align:center;">
                    <small><strong>People</strong></small>
                </div>
            </div>

              <div class="item_panel">
                <div style="text-align:center;">
                    <a href="#">
                    <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                </a>
                <a href="#">
                    <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                </a>
                </div>
            </div>
          </div>




          {% elif item.item_type == 'footage' %}



              <div class="item">
                      <a href="/item/{{ item.id }}">
                          <img width="100%" src="https://s3.amazonaws.com/{{bucketname}}/{{item.item_thumb}}" />
                      </a>
                    <div class="item_header_type">
                      <div style="text-align:center;">
                          <small><strong>Footage</strong></small>
                      </div>
                  </div>

                    <div class="item_panel">
                      <div style="text-align:center;">
                          <a href="#">
                          <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                      </a>
                      <a href="#">
                          <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                      </a>
                      </div>
                  </div>
                  </div>


                {% elif item.item_type == 'geometry' %}



                    <div class="item">
                            <a href="/item/{{ item.id }}">
                                <img width="100%" src="https://s3.amazonaws.com/{{bucketname}}/{{item.item_thumb}}" />
                            </a>
                          <div class="item_header_type">
                          <div style="text-align:center;">
                                <small><strong>Geometry</strong></small>
                            </div>
                        </div>

                          <div class="item_panel">
                            <div style="text-align:center;">
                                <a href="#">
                                <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                            </a>
                            <a href="#">
                                <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                            </a>
                            </div>
                        </div>
                        </div>



                  {% elif item.item_type == 'collection' %}



                      <div class="item">
                              <a href="/item/{{ item.id }}">
                                  <img width="100%" src="https://s3.amazonaws.com/{{bucketname}}/{{item.item_thumb}}" />
                              </a>
                            <div class="item_header_type">
                              <div style="text-align:center;">
                                  <small><strong>Collecton</strong></small>
                              </div>
                          </div>

                              <div class="item_panel">
                                <div style="text-align:center;">
                                  <a href="#">
                                  <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                              </a>
                              <a href="#">
                                  <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                              </a>
                              </div>
                          </div>
                          </div>

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}



</div>






<br><br><br><br>





    <div style="background-color:lightgray;padding-left:10%;padding-right:10%">

        <p style="height:30px;"></p>
        {% for k, v in item.0.items() %}
        {% if k != 'items' %}
        {{ k }} - {{v}}<br>
        {% endif %}
        {% endfor %}
<p style="height:30px;"></p>



<form action="/item/delete/{{item.0.id}}" method="DELETE">
  <div class="form-group">
  <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>

<form action="" method="PATCH">
  <div class="form-group">
      <label for="collection_rename">Rename Collection</label>
    <input style="width:300px;" type="text" class="form-control" id="collection_rename" name="collection_rename" placeholder="{{item.0.name}}" />
  <button type="submit" class="btn btn-default">Rename</button>
  </div>
</form>




<form action="" method="POST" enctype="multipart/form-data">



</form>


    <form action="/patch" method="POST" enctype="multipart/form-data">





        <div class="form-group">

          <label for="change_cover">Change Cover Image</label>
          <input type="file" id="change_cover" name="change_cover">
          <small><small><p class="help-block">Cover Image should be .jpg</p></small></small>
          <br>

            <label for="append_collection">Append Collection</label>
            <input style="width:300px;" type="text" class="form-control" id="append_collection" name="append_collection" />
            <input type="hidden" name="id" value="{{item.0.id}}">
            <small><small><p class="help-block">Enter Item IDs to append this collection.</p></small></small>
        <br>
        <label for="append_tags">Append Tags</label>
        <input style="width:300px;" type="text" class="form-control" id="append_tags" name="append_tags" />
        <input type="hidden" name="id" value="{{item.0.id}}">
        <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small>
        <button type="submit" class="btn btn-default">Submit</button>

        </div>

    </form>
    <p style="height:30px;"></p>


</div>



        <!-- Init masonry js -->
        <script>
        var grid = document.querySelector('.grid');
        var msnry;

        imagesLoaded( grid, function() {
            // init Isotope after all images have loaded
            msnry = new Masonry( grid, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                transitionDuration: 0,
            });
        });
        </script>

    <div style=background-color:black;color:white;margin-top:50px;>
        <small><small>
            <strong>item</strong><br>
            {{ item }}
        </small></small>
    </div>
{% endblock %}
