{% extends "base.html" %}
{% block content %}
<div class="content">
<div id="item_header_collection" style="background: url(https://s3.amazonaws.com/{{bucketname}}/{{ item.0.item_loc }}) no-repeat center;background-size: 100% auto;">

    <div id="item_header_title">
      <small><strong>{{ item.0.name }}</strong></small>
    </div>

</div>


{% for item in item.0['items']%}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}







<label class="collapse" for="_1"><div class="clicky"><div id="section_header"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true">&emsp;</span>Info</div></div></label>
<input id="_1" type="checkbox">


<div id="item_info">
  {% for k, v in item.0.items() %}
    {% if k != 'items' %}
      {{ k }} - {{ v }}<br>
    {% endif %}
  {% endfor %}
</div>

<label class="collapse" for="_2"><div class="clicky"><div id="section_header"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true">&emsp;</span>Edit</div></div></label>
<input id="_2" type="checkbox">

    <div id="item_edit">
      <h3>Item</h3>

        <form action="/patch" method="POST" enctype=multipart/form-data>
          <div class="form-group">

      <div style="display: inline-block; width:49.7%;">

        <label for="collection_rename">Rename Collection</label>
      <input style="width:100%; display:block;" type="text" class="form-control" id="collection_rename" name="collection_rename" placeholder="{{item.0.name}}" />
      <small><small><p class="help-block">Enter Collection name.</p></small></small>


        <br>

        <label for="change_cover">Change Cover Image</label>
        <input style="width:100%; display:block;" type="file" id="change_cover" name="change_cover">
        <input type="hidden" name="del_item_loc" value="{{item.0.item_loc}}">
        <input type="hidden" name="del_item_thumb" value="{{item.0.item_thumb}}">
        <small><small><p class="help-block">Cover Image should be .jpg</p></small></small>



      </div>

      <div style="display: inline-block; width:49.7%;">

            <label for="append_collection">Add Item(s)</label>
            <input style="width:100%; display:block;" type="text" class="form-control" id="append_collection" name="append_collection" />
            <input type="hidden" name="id" value="{{item.0.id}}">
            <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small><br>

            <label for="append_tags">Append Tags</label>
            <input style="width:100%; display:block;" type="text" class="form-control" id="append_tags" name="append_tags" />
            <input type="hidden" name="id" value="{{item.0.id}}">
            <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small>

      </div>



      <br>
      <br>


            <button type="submit" class="btn btn-default btn-block">Submit Changes</button>
          </div>
        </form>
        <form action="/item/delete/{{item.0.id}}" method="DELETE">
          <div class="form-group">
          <button type="submit" class="btn btn-default">Delete</button>
          </div>
        </form>
      </div>



</div>

{% endblock %}
