{% extends "base.html" %}
{% block content %}
<div style="z-index:50;max-width:100%;max-height:200px;overflow:hidden;position:relative;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);">
    <img style="width:100%;height:auto;" src="https://s3.amazonaws.com/glancestore/{{ item.0.item_loc }}" />

    <div style="padding-left:20px;padding-right:20px;border-radius:35px;position:absolute;bottom:0;right:0;height:45px;background-color:rgba(255, 255, 255, .5);margin:10px;">
        <div style="text-align:center;font-size:30px;">
            <small><strong>{{ item.0.name }}</strong></small>
        </div>
    </div>
</div>

<div style="background-color: lightgray;">



  <div class="grid">

    {% for k, v in item.0.items() %}
    {% if k == 'items' %}

    {% for j,item in v.items() %}

          {% if item.item_type == 'image' %}



              <div class="grid-sizer"></div>
              <div class="grid-item">
                  <div style="position:relative;">
                      <a href="/item/{{ item.id }}">
                          <img width="100%" src="https://s3.amazonaws.com/glancestore/{{item.item_thumb}}" />
                      </a>
                  </div>
                  <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                      <div style="text-align:center;">
                          <small><strong>Image</strong></small>
                      </div>
                  </div>

                  <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;bottom:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                      <div style="text-align:center;">

                          <a href="#">
                          <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                      </a>
                      <a href="#">
                          <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                      </a>

                      <a href="#">
                          <small><strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></strong></small>
                      </a>

                      </div>
                  </div>
              </div>









              {% elif item.item_type == 'people' %}



                  <div class="grid-sizer"></div>
                  <div class="grid-item">
                      <div style="position:relative;">
                          <a href="/item/{{ item.id }}">
                              <img width="100%" src="https://s3.amazonaws.com/glancestore/{{item.item_thumb}}" />
                          </a>
                      </div>
                      <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                          <div style="text-align:center;">
                              <small><strong>People</strong></small>
                          </div>
                      </div>

                      <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;bottom:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                          <div style="text-align:center;">
                              <a href="#">
                              <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                          </a>
                          <a href="#">
                              <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                          </a>
                          </div>
                      </div>
                  </div>




                                {% elif item.item_type == 'footage' %}



                                    <div class="grid-sizer"></div>
                                    <div class="grid-item">
                                        <div style="position:relative;">
                                            <a href="/item/{{ item.id }}">
                                                <img width="100%" src="https://s3.amazonaws.com/glancestore/{{item.item_thumb}}" />
                                            </a>
                                        </div>
                                        <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                                            <div style="text-align:center;">
                                                <small><strong>Footage</strong></small>
                                            </div>
                                        </div>

                                        <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;bottom:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                                            <div style="text-align:center;">
                                                <a href="#">
                                                <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                                            </a>
                                            <a href="#">
                                                <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                                            </a>
                                            </div>
                                        </div>
                                    </div>


                                                  {% elif item.item_type == 'geometry' %}



                                                      <div class="grid-sizer"></div>
                                                      <div class="grid-item">
                                                          <div style="position:relative;">
                                                              <a href="/item/{{ item.id }}">
                                                                  <img width="100%" src="https://s3.amazonaws.com/glancestore/{{item.item_thumb}}" />
                                                              </a>
                                                          </div>
                                                          <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                                                              <div style="text-align:center;">
                                                                  <small><strong>Geometry</strong></small>
                                                              </div>
                                                          </div>

                                                          <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;bottom:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                                                              <div style="text-align:center;">
                                                                  <a href="#">
                                                                  <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                                                              </a>
                                                              <a href="#">
                                                                  <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                                                              </a>
                                                              </div>
                                                          </div>
                                                      </div>



                                                                    {% elif item.item_type == 'collection' %}



                                                                        <div class="grid-sizer"></div>
                                                                        <div class="grid-item">
                                                                            <div style="position:relative;">
                                                                                <a href="/item/{{ item.id }}">
                                                                                    <img width="100%" src="https://s3.amazonaws.com/glancestore/{{item.item_thumb}}" />
                                                                                </a>
                                                                            </div>
                                                                            <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                                                                                <div style="text-align:center;">
                                                                                    <small><strong>Collecton</strong></small>
                                                                                </div>
                                                                            </div>

                                                                            <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;bottom:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                                                                                <div style="text-align:center;">
                                                                                    <a href="#">
                                                                                    <small><strong><span class="glyphicon glyphicon-save" aria-hidden="true"></span></strong></small>
                                                                                </a>
                                                                                <a href="#">
                                                                                    <small><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></small>
                                                                                </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>









              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
  </div>
















</div>
    <div style="background-color:lightgray;padding-left:10%;padding-right:10%">

        <p style="height:30px;"></p>
        {% for k, v in item.0.items() %}
        {% if k != 'items' %}
        {{ k }} - {{v}}<br>
        {% endif %}
        {% endfor %}
<p style="height:30px;"></p>



<form action="/item/delete/{{item.0.id}}" method="DELETE">
  <div class="form-group">
  <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>

<form action="" method="PATCH">
  <div class="form-group">
      <label for="collection_rename">Rename Collection</label>
    <input style="width:300px;" type="text" class="form-control" id="collection_rename" name="collection_rename" placeholder="{{item.0.name}}" />
  <button type="submit" class="btn btn-default">Rename</button>
  </div>
</form>




<form action="" method="POST" enctype="multipart/form-data">



</form>


    <form action="/patch" method="POST" enctype="multipart/form-data">





        <div class="form-group">

          <label for="change_cover">Change Cover Image</label>
          <input type="file" id="change_cover" name="change_cover">
          <small><small><p class="help-block">Cover Image should be .jpg</p></small></small>
          <br>

            <label for="append_collection">Append Collection</label>
            <input style="width:300px;" type="text" class="form-control" id="append_collection" name="append_collection" />
            <input type="hidden" name="id" value="{{item.0.id}}">
            <small><small><p class="help-block">Enter Item IDs to append this collection.</p></small></small>
        <br>
        <label for="append_tags">Append Tags</label>
        <input style="width:300px;" type="text" class="form-control" id="append_tags" name="append_tags" />
        <input type="hidden" name="id" value="{{item.0.id}}">
        <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small>
        <button type="submit" class="btn btn-default">Submit</button>

        </div>

    </form>
    <p style="height:30px;"></p>


</div>



        <!-- Init masonry js -->
        <script>
        var grid = document.querySelector('.grid');
        var msnry;

        imagesLoaded( grid, function() {
            // init Isotope after all images have loaded
            msnry = new Masonry( grid, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                transitionDuration: 0,
            });
        });
        </script>

    <div style=background-color:black;color:white;margin-top:50px;>
        <small><small>
            <strong>item</strong><br>
            {{ item }}
        </small></small>
    </div>
{% endblock %}
