{% extends "base.html" %}
{% block content %}

<!-- tag list !-->
<div id="nav_item_panel_subitem">
  {% for tag in tags %}
    <a class="badge badge-light" style="color:rgba(44, 46, 48, .96);" href="/search?search={{tag}}">{{tag}}</a>
  {% endfor %}
</div>

<!-- latest collections !-->
{% for item in collections %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb_col.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest images !-->
{% for item in images %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest footage -->
{% for item in footage %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest geometry !-->
{% for item in geometry %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest people !-->
{% for item in people %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

{% endblock %}
