{% extends "base.html" %}
{% block content %}

    <div id="searchfilterbox">
        <small><small><small>FILTER:&emsp;</small> <a href="">Images | Geometry | Footage | People</a></small></small>
    </div>

    <div class="grid">
        {% for item in items %}
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <a href="item/{{ item.id }}">
                    <img width="100%" src="https://s3.amazonaws.com/glancestore/{{item.item_thumb}}" />
                </a>
            </div>
        {% endfor %}
    </div>

    <div style=background-color:black;color:white;margin-top:100px;>
        <small><small>
            <strong>items</strong><br>
            {{ items }}
        </small></small>
    </div>

    <!-- Init masonry js -->
    <script>
    var grid = document.querySelector('.grid');
    var msnry;

    imagesLoaded( grid, function() {
        // init Isotope after all images have loaded
        msnry = new Masonry( grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            transitionDuration: 0,
        });
    });
    </script>

{% endblock %}
