{% extends "base.html" %}
{% block content %}

<div id="nav_item_panel_subitem">
  <small>
  <div style="display:inline-block;width:16%;text-align:center;">
  Collections: {{total_items.collections}}
</div>
<div style="display:inline-block;width:16%;text-align:center;">
    Images: {{total_items.images}}
  </div>
  <div style="display:inline-block;width:16%;text-align:center;">
      Footage: {{total_items.footage}}
    </div>
    <div style="display:inline-block;width:16%;text-align:center;">
        Geometry: {{total_items.geometry}}
      </div>
      <div style="display:inline-block;width:16%;text-align:center;">
          People: {{total_items.people}}
        </div>
        <div style="display:inline-block;width:16%;text-align:center;">
            Tags: {{total_items.tags}}
          </div>
        </small>
</div>



<!-- tag list !-->
<div id="nav_item_panel_subitem">
  {% for tag in tags %}
    <a class="badge badge-light" style="color:rgba(44, 46, 48, .96);" href="/search?query={{tag}}">{{tag}}</a>
  {% endfor %}
</div>

<!-- latest collections !-->
{% for item in collections|reverse %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb_col.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest images !-->
{% for item in images|reverse %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest footage -->
{% for item in footage|reverse %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest geometry !-->
{% for item in geometry|reverse %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

<!-- latest people !-->
{% for item in people|reverse %}
{% if loop.index0 % 5 == 0 %}
<div class="item_results">
{% endif %}

  {% include 'thumb.html' %}

{% if loop.index0 % 5 == 4 or loop.last %}
      </div>
      {% endif %}
{% endfor %}

{% endblock %}
