{% extends "base.html" %}
{% block content %}

<div class="content">

  <div class="img-wrap">
    <img src="https://s3.amazonaws.com/{{bucketname}}/{{ item.0.item_loc }}" />
  </div>

  <div id="part_of_collection">

    {% for k, v in item.0.items() %}
      {% if k == 'collections' %}
        {% for x, g in v.items() %}

        <div id="part_of_collection_item">

          <a href="/item/{{ g.id }}">
            <img style="max-width:300px; height: auto;" src="https://s3.amazonaws.com/{{bucketname}}/{{ g.item_thumb }}" />
          </a>

          <div id="part_of_collection_item_header">
            <div style="text-align:center;">
              <small><strong>Collection</strong></small>
            </div>
          </div>

        </div>

        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>


  <label class="collapse" for="_1"><div class="clicky"><div id="section_header"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true">&emsp;</span>Info</div></div></label>
  <input id="_1" type="checkbox">

    <div id="item_info">
      {% for k, v in item.0.items() %}
        {% if k != 'items' %}
          {{ k }} - {{ v }}<br>
        {% endif %}
      {% endfor %}
    </div>



    <label class="collapse" for="_2"><div class="clicky"><div id="section_header"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true">&emsp;</span>Edit</div></div></label>
  <input id="_2" type="checkbox">

    <div id="item_edit">
      <h3>Item</h3>


        <form action="/patch" method="POST">
          <div class="form-group">
      <div style="display: inline-block; width:49.7%;">

            <label for="">Add to collection</label>
            <input style="width:100%; display:block;" type="text" class="form-control" id="" name="" />
            <input type="hidden" name="" value="">
            <small><small><p class="help-block">ID of collection.</p></small></small>
      </div>
      <div style="display: inline-block; width:49.7%;">
            <label for="append_collection">Append Tags</label>
            <input style="width:100%; display:block;" type="text" class="form-control" id="append_tags" name="append_tags" />
            <input type="hidden" name="id" value="{{item.0.id}}">
            <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small>
      </div>
      <br>
            <button type="submit" class="btn btn-default btn-block">Submit Changes</button>


          </div>
        </form>

        <form action="/item/delete/{{item.0.id}}" method="DELETE">
          <div class="form-group">
          <button type="submit" class="btn btn-default">Delete</button>
          </div>
        </form>

      </div>


</div>

{% endblock %}
