{% extends "base.html" %}
{% block content %}

<div id="manage_content">

    {% if session.fav|length > 0 %}

    <div id="section_header">
      Manage Selection
    </div>

    <div id="manage_item_selection">
      <form method="post" action="{{ url_for('manage_selection') }}">

      {% for x in session.fav.items() %}

      <div id="manage_item">
        <a href="/item/{{x.0}}">
          <img style="width:100px;height:auto;" src="{{bucketname}}/{{x.1}}">
        </a>

        <div id="manage_item_checkbox">
          <input id="checkBox" name="{{x.0}}" type="checkbox" checked>
          <input type="hidden" name="{{x.0}}" value="off">
        </div>

        <div id="manage_item_text">
          <span class="badge badge-pill badge-primary">{{x.0}}</span>
        </div>
      </div>

      {% endfor %}

      <br><br>

      <small>Append selection to exisiting collection.</small><br>
      <input type="text" name="collection_append">
      <br><br>
      <small>Append tags to each item in selection.</small><br>
      <input type="text" name="tags">
      <br><br>
      <small>Making a collection? Enter a name, otherwise ignore.</small><br>
      <input type="text" name="collection_name">

      <br><br>

      <button type="submit" name="btn_proc_selection" class="btn btn-primary btn-block">Process Selected</button>
      <button type="submit" name="clear_selection" value="True" class="btn btn-primary btn-block">Clear Selected</button>
      <button type="submit" name="delete_selection" value="True" class="btn btn-danger btn-block">Delete Selected</button>


      </form>
    </div>

    {% endif %}

    <div id="section_header">
      Manage Collections
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Thumbnail</th>
          <th>Overview</th>
          <th>Manage Tags</th>
        </tr>
      </thead>
      <tbody>

      {% for x in collection %}

      <tr>
        <td>{{x.id}}</td>
        <td>
            <a href="/item/{{x.id}}">
              <img style="width:100px;height:auto;" src="{{bucketname}}/{{x.item_thumb}}">
            </a>
            <br>
            <span class="label label-primary">Change Cover</span>
        </td>
        <td>
          <strong>{{x.name}}</strong><br>
          <br>
          <small><strong>Contains</strong></small><br>
          {% for bla in x['items'] %}
          <a href="/item/{{bla.id}}">
            <img style="width:50px;height:auto;" src="{{bucketname}}/{{bla.item_thumb}}">
          </a>

          {% endfor %}
          <br>
          <br>
          [flag] [delete]

        </td>
        <td>

          {% for tag in x.tags %}

          <span class="label label-default">{{tag}}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </span>

          {% endfor %}

          <br><br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Add Tags</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
