{% extends "base.html" %}
{% block content %}


<div style="width:100%;color:white;">

<div style="display:inline-block;">
  <img style="height:400px;" src="https://s3.amazonaws.com/glancestore/{{ item.0.item_loc }}" />
</div>

<div style="display:inline-block;">
  Camera Position    <br>
      <br>
      above<br>
      Upper 45 Degree <br>(Flat & At Subject)<br>
      At Subject<br>
      Eye Level<br>
      At Subject<br>
      Lower 45 Degree <br>(Flat & At Subject)<br>
      Below<br>
</div>

<div style="display:inline-block;">
  Major Light Source    <br>
      <br>
      above<br>
      left<br>
      Right<br>
      Front<br>
      Back<br>
</div>

<div style="display:inline-block;">
  General Lighting    <br>
      <br>
      In Shadow<br>
      OVercast<br>
      Indirect<br>
</div>


</div>



        <div style="background-color:darkgray;width:100%;">



            {% for k, v in item.0.items() %}
            {% if k == 'collections' %}
            {% for x, g in v.items() %}


                <div style="position:relative;display:inline-block;">

                <a href="/item/{{ g.id }}">
                <img style="max-width:300px; height: auto;" src="https://s3.amazonaws.com/glancestore/{{ g.item_thumb }}" />
                </a>

                <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                    <div style="text-align:center;">
                        <small><strong>Collection</strong></small>
                    </div>
                </div>

                </div>




            {% endfor %}
            {% endif %}
            {% endfor %}


        </div>


                <div style="padding-left:10%;padding-right:10%;background-color:lightgray;">
                  <br>
                  <br>


  Race<br>
<ul>
 <li>bla</li>
 <li>bla</li>
 <li>bla</li>
</ul>

  -- will most prob be covered via tags<br>
      Clothing styles<br>
    <ul>
     <li>Highline hipster</li>
     <li>bla</li>
     <li>bla</li>
    </ul>




<br>
<br>
        {% for k, v in item.0.items() %}
        {% if k != 'items' %}
        {{ k }} - {{ v }}<br>
        {% endif %}
        {% endfor %}




<br>
<br>



<form action="/item/delete/{{item.0.id}}" method="DELETE">
  <div class="form-group">
  <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>

    <form action="/patch" method="POST">

        <div class="form-group">

            <label for="append_collection">Append Tags</label>
            <input style="width:300px;" type="text" class="form-control" id="append_tags" name="append_tags" />
            <input type="hidden" name="id" value="{{item.0.id}}">
            <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>

        </div>

    </form>





  </div>



    <div style=background-color:black;color:white;margin-top:100px;>
        <small><small>
            <strong>item</strong><br>
            {{ item }}
        </small></small>
    </div>
{% endblock %}
