{% extends "base.html" %}
{% block content %}

<div class="content">
  <div style="text-align:center;">
    <img style="height:400px;" src="{{bucketname}}/{{ item.item_loc }}" />
  </div>
</div>

<div id="part_of_collection">

  {% for k, v in item.items() %}
    {% if k == 'collections' %}
      {% for x in v %}
      <a href="/item/{{x['id']}}"><img src="{{bucketname}}/{{x['item_thumb']}}" /></a>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>

<label class="collapse" for="_1"><div class="clicky"><div id="section_header"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true">&emsp;</span>Info</div></div></label>
<input id="_1" type="checkbox">

  <div id="item_info">
    {% for k, v in item.items() %}
      {% if k != 'items' %}
        {{ k }} - {{ v }}<br>
      {% endif %}
    {% endfor %}

    <hr>
    {% if item.attached != 'None' %}
    <a href="{{bucketname}}/{{item.attached}}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Download</a>
    {% endif %}

  </div>

  <label class="collapse" for="_2"><div class="clicky"><div id="section_header"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true">&emsp;</span>Edit</div></div></label>
<input id="_2" type="checkbox">

<div id="item_edit">
  <h3>Image Attributes</h3>

  <small>
    <form action="{{ url_for('patch_item') }}" method="POST">
      <div class="form-group">

        {% for k, v in people_tags.items() %}
          <strong style="color:black;">{{ k }}</strong>

          {% for g, h in v.items() %}
            {% if h == 1%}

              <span class="label label-primary"><label class="checkbox-inline"><input name="people_tags" id="people_tags" type="checkbox" value="{{g}}" checked />{{g}}</label></span>

            {% elif h == 0 %}

              <span class="label label-default"><label class="checkbox-inline"><input name="people_tags" id="people_tags" type="checkbox" value="{{g}}"/>{{g}}</label></span>

            {% endif %}
          {% endfor %}
        {% endfor %}

        <input type="hidden" name="id" value="{{item.id}}">
        <br><br>
        <button type="submit" class="btn btn-block btn-default">Submit Attributes</button>

      </div>
    </form>
  </small>
<h3>Item</h3>


  <form action="/patch" method="POST">
    <div class="form-group">
<div style="display: inline-block; width:49.7%;">

      <label for="">Add to collection</label>
      <input style="width:100%; display:block;" type="text" class="form-control" id="append_to_collection" name="append_to_collection" />
      <input type="hidden" name="id" value="{{item.id}}">
      <small><small><p class="help-block">ID of collection.</p></small></small>
</div>
<div style="display: inline-block; width:49.7%;">
      <label for="append_collection">Append Tags</label>
      <input style="width:100%; display:block;" type="text" class="form-control" id="append_tags" name="append_tags" />
      <input type="hidden" name="id" value="{{item.id}}">
      <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small>
</div>
<br>
      <button type="submit" class="btn btn-default btn-block">Submit Changes</button>
    </div>
  </form>

  <form action="/item/delete/{{item.id}}" method="DELETE">
    <div class="form-group">
    <button type="submit" class="btn btn-default">Delete</button>
    </div>
  </form>




</div>

</div>

{% endblock %}
