{% extends "base.html" %}
{% block content %}


<div style="width:100%;color:white;">

<div style="text-align:center;">
  <img style="height:400px;" src="https://s3.amazonaws.com/glancestore/{{ item.0.item_loc }}" />
</div>

</div>



        <div style="background-color:darkgray;width:100%;">



            {% for k, v in item.0.items() %}
            {% if k == 'collections' %}
            {% for x, g in v.items() %}


                <div style="position:relative;display:inline-block;">

                <a href="/item/{{ g.id }}">
                <img style="max-width:300px; height: auto;" src="https://s3.amazonaws.com/glancestore/{{ g.item_thumb }}" />
                </a>

                <div style="padding-left:10px;padding-right:10px;border-radius: 10px;position:absolute;top:0;height:20px;background-color:rgba(255, 255, 255, .5);margin:10px;">
                    <div style="text-align:center;">
                        <small><strong>Collection</strong></small>
                    </div>
                </div>

                </div>




            {% endfor %}
            {% endif %}
            {% endfor %}


        </div>


<div style="display: inline-block;width:100%;text-align:center;padding-top:30px;padding-bottom:30px;color:black;background-color:lightgray;">

    <div style="display: inline-block;width:33.1%;vertical-align: top;">
        <h3>Subject</h3>
        <br>
        <b>Number of people</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">One</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Couple</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Group</label>
        <br>
        <br>
        <b>Gender</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Male</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Female</label>
        <br>
        <br>
        <b>Age</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Baby</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Child</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Teen</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Adult</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Senior</label>
        <br>
        <br>
        <b>Ethnicity</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Caucasian</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Asian</label>
        <label class="checkbox-inline"><input type="checkbox" value="">African</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Middle East</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Indian</label>
        <br>
    </div>
    <div style="display: inline-block;width:33.1%;vertical-align: top;">
        <h3>Camera and Lighting</h3>
        <br>
        <b>View Angle</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Back</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Back Angle</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Side</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Front Angle</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Front</label>
        <br>
        <label class="checkbox-inline"><input type="checkbox" value="">Above</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Eye Level</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Below</label>
        <br>
        <br>
        <b>Light Source</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Above</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Back</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Front</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Side</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Below</label>
        <br>
        <br>
        <b>General Lighting</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Sunlight</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Ambient</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Partial/Shade</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Backlit</label>
        <br>
    </div>
    <div style="display: inline-block;width:33.1%;vertical-align: top;">
        <h3>General</h3>
        <br>
        <b>Season</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Summer</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Autumn/Spring</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Winter</label>
        <br>
        <br>
        <b>Activity</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Standing</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Sitting</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Playing</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Running</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Riding</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Working Out</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Lying</label>
        <br>
        <br>
        <b>Style</b><br>
        <label class="checkbox-inline"><input type="checkbox" value="">Casual</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Resort</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Sports</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Religious</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Alternative</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Business</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Medical</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Uniform</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Formal</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Work</label>

        <br>
    </div>

</div>



                <div style="padding-left:10%;padding-right:10%;background-color:lightgray;padding-bottom:30px;">



<br>
<br>
        {% for k, v in item.0.items() %}
        {% if k != 'items' %}
        {{ k }} - {{ v }}<br>
        {% endif %}
        {% endfor %}




<br>
<br>



<form action="/item/delete/{{item.0.id}}" method="DELETE">
  <div class="form-group">
  <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>

    <form action="/patch" method="POST">

        <div class="form-group">

            <label for="append_collection">Append Tags</label>
            <input style="width:300px;" type="text" class="form-control" id="append_tags" name="append_tags" />
            <input type="hidden" name="id" value="{{item.0.id}}">
            <small><small><p class="help-block">Enter words, separated by spaces.</p></small></small>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>

        </div>

    </form>





  </div>



    <div style=background-color:black;color:white;margin-top:100px;>
        <small><small>
            <strong>item</strong><br>
            {{ item }}
        </small></small>
    </div>
{% endblock %}
