<div id="nav_item_panel_subitem">

    
        <span style="color:black;padding-right: 1.8em">1)</span>
    <small>

    {% for k, v in session.filter_people.items() %}

        {% if k == 'camera' %}

        <strong style="color:black;">{{k.capitalize()}} | </strong>

            {% for x, z in v.items() %}

                {% if z == 0 %}
                    <a style="color:white" href="/search?query={{data.query}}&filter_people={{x}}">{{x}}, </a>
                {% else %}
                    <a style="color:red" href="/search?query={{data.query}}&filter_people={{x}}">{{x}}, </a>
                {% endif %}

            {% endfor %}
    
        {% endif %}

    {% endfor %}
</small>
    <hr>
    <span style="color:black;padding-right: 1.8em">2)</span>
<small>
    {% for k, v in session.filter_people.items() %}

        {% if k != 'camera' %}

        <strong style="color:black;">{{k.capitalize()}} | </strong>

            {% for x, z in v.items() %}

                {% if z == 0 %}
                    <a style="color:white" href="/search?query={{data.query}}&filter_people={{x}}">{{x}}, </a>
                {% else %}
                    <a style="color:red" href="/search?query={{data.query}}&filter_people={{x}}">{{x}}, </a>
                {% endif %}

            {% endfor %}
    
        {% endif %}

    {% endfor %}

    </small>
  </div>