{% from "base.html" import bucketname with context %}

<div class="item">

  <div style="position:relative;">
    <a href="/item/{{ item.id }}">
      <img width="100%" src="{{bucketname}}/{{item.item_thumb}}" />
    </a>
  </div>

  <div class="item_header_type">
    <div style="text-align:center;">
      <span class="badge badge-pill badge-dark">{{ item.item_type|capitalize }}</span>
    </div>
  </div>
  <div class="item_panel">

    <div style="text-align:center;">

      <a href="/item/{{item.id}}">
        <span class="badge badge-pill badge-dark">{{item.name}}</span>
      </a>

    </div>

  </div>
</div>
