{% from "base.html" import bucketname with context %}

<div class="item">

  <div style="position:relative;">
    <a href="/item/{{ item.id }}">
      <img width="100%" src="https://s3.amazonaws.com/{{bucketname}}/{{item.item_thumb}}" />
    </a>
  </div>

  <div class="item_header_type">
    <div style="text-align:center;">
      <small><strong>{{ item.item_type|capitalize }}</strong></small>
    </div>
  </div>
  <div class="item_panel">

    <div style="text-align:center;">

      <a href="#">
        <small>{{item.name}}</small>
      </a>

    </div>

  </div>
</div>
