{% from "base.html" import bucketname with context %}

<div class="item">

  <div style="position:relative;">
    <a href="/item/{{ item.id }}">
      <img width="100%" src="https://s3.amazonaws.com/{{bucketname}}/{{item.item_thumb}}" />
    </a>
  </div>

  <div class="item_header_type">
    <div style="text-align:center;">
      <span class="badge badge-pill badge-dark">{{ item.item_type|capitalize }}</span>
    </div>
  </div>

  <div class="item_panel">
    <div style="text-align:center;">
      <div class="add_to_selection" style="display:inline-block;text-align:center;">

        <form class="form-signin"  role="form">
          <input type="hidden" id="item_id" value="{{item.id}}" class="form-control">
          <input type="hidden" id="item_thumb" value="{{item.item_thumb}}" class="form-control">
          <span class="badge badge-pill badge-dark">❤</span>
        </form>

      </div>

    </div>
  </div>
</div>
