{% extends "base.html" %}
{% block content %}

    <div style="padding-left:10%;padding-right:10%;background-color:lightgray;">
        <p style="height:40px;" />
        <form action="/uploading" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="file">*Items(s)</label>
                <input type="file" id="file" name="file" multiple>
                <small><small><p class="help-block">Any number of Assets can be uploaded at a time.</p></small></small>

                <label for="radio">*Item Type</label><br>
                <label class="radio-inline">
                  <input type="radio" name="itemradio" value="image">Image
                </label>
                <label class="radio-inline">
                  <input type="radio" name="itemradio" value="footage">Footage
                </label>
                <label class="radio-inline">
                  <input type="radio" name="itemradio" value="geometry">Geometry
                </label>
                <label class="radio-inline">
                  <input type="radio" name="itemradio" value="collection">Collection
                </label>
                <br>
                <br>
                <label for="tag">Tags</label>
                <input style="width:300px;" type="text" class="form-control" id="tags" name="tags" />
                <small><small><p class="help-block">Separate tags with a space. i.e. here are some tags</p></small></small>

                <label for="collection">Collection</label>
                <input style="width:300px;" type="text" class="form-control" id="collection" name="collection" />
                <small><small><p class="help-block">Entering a Collection name, will make a new collection <br>and append this assets to it.</p></small></small>


            <br>
            <button type="submit" class="btn btn-default">Submit</button>

            </div>

        </form>
        <p style="height:40px;" />
    </div>

{% endblock %}
