
/* global */
body {
  background-color: rgb(242, 242, 240);
  margin: 0;
}
#pagination
{
  width:100%;
  padding-top:30px;
  text-align:center;
}
#section_header
{
  padding:15px;
  font-size: 30px;
}
#dropdown_header
{
  box-shadow:inset -5px -5px 0 0 rgba(0,0,0,1);
  padding:15px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
#dropdown_header:hover{
    background: lightgray;
    box-shadow:inset 5px 5px 0 0 rgba(0,0,0,1);

}
#dropdown_header:active{
    background: lightgray;
    box-shadow:inset 5px 5px 0 0 rgba(0,0,0,1);
}
#part_of_collection
{
background-color: lightgray;
}
#part_of_collection_item
{
  position: relative;
  display: inline-block;
}
#part_of_collection_item_header
{
  padding-left:10px;
  padding-right:10px;
  border-radius: 10px;
  position:absolute;
  top:0;
  height:20px;
  background-color:rgba(255, 255, 255, .5);
  margin:10px;
}
#item_info
{
  width:100%;
  position: relative;
  z-index: 50;
  padding-left:10%;
  padding-right:10%;
  padding-top:30px;
  padding-bottom:30px;
  background-color: lightgray;
}
#item_edit
{
  width:100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding-left:10%;
  padding-right:10%;
  padding-top:30px;
  padding-bottom:30px;
  background-color: lightgray;
}
/* scales image if larger then the browser vp */
.img-wrap {
    max-width: 100%;
    width: 100%;
}

.img-wrap img {
    height: auto;
    max-width: 100%;
}

/* base.html specific */
#nav_main {
  z-index:100;
  width:100%;
  height:53px;
  position:fixed;
  top:0;
  background-color: rgba(44, 46, 48, .96);
  padding-left:50px;
  padding-right:10%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
#nav_main_logo
{
  float:left;
  padding-top:17px;
  padding-bottom:10px;
  width: 120px;
  height: 100%;
  padding-right: 20px;
}
#nav_main_logo a:link
{
  color: white;
  text-decoration: none;
}
#nav_main_logo a:visited
{
  color: white;
  text-decoration: none;
}
#nav_main_logo a:hover
{
  color: white;
  text-decoration: none;
}
#nav_main_logo a:active
{
  color: white;
  text-decoration: none;
}
#nav_main_button
{
  float:left;
  height:100%;
  width:auto;
  padding-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
}
#nav_main_button:hover
{
  background-color: rgba(44, 46, 48, .7);
}
#nav_main_button a:link
{
  color: white;
  text-decoration: none;
}
#nav_main_button a:visited
{
  color: white;
  text-decoration: none;
}
#nav_main_button a:hover
{
  color: white;
  text-decoration: none;
}
#nav_main_button a:active
{
  color: white;
  text-decoration: none;
}
#nav_main_button_notif
{
  padding-left:5px;
  padding-right:5px;
  border-radius:10px;
  position:absolute;
  top:-6px;
  right:0;
  height:15px;
  background-color:red;
  text-align:center;
  color:white;
}
#nav_main_button_notif_pos
{
  position:relative;
  bottom:4px;
}
#nav_main_search
{
  float:right;
  padding-top:12px;
}
/* Search Bar CSS */
.search input[type="text"] {
    color: rgb(134, 136, 136);
    border-radius:10px;
    background-color: rgba(60, 60, 60, .5);
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    transition: border 0.3s;
}
.search input[type="text"]:focus,
.search input[type="text"].focus {
    color: white;
    outline-width: 0;
    border-bottom: solid 2px lightgray;
}
.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
  font-size: 25px;
  color: lightgray;
  position: absolute;
  padding: 5px;
  pointer-events: none;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#nav_item_panel {
    position: relative;
    z-index: 10;
    padding-left:10%;
    min-width:100%;
    background-color: rgba(220, 220, 220, .96);
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(44, 46, 48, .5);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
#nav_item_panel_subitem
{
  position: relative;
  z-index: 5;
  width:100%;
  color:gray;
  padding-top:10px;
  padding-bottom:10px;
  background-color: darkgray;
  text-align: justify;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgba(44, 46, 48, .2);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
#item_header_collection
{
  z-index:50;
  width:100%;
  min-height:200px;
  overflow:hidden;
  position:relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
#item_header_title
{
  padding-left:20px;
  padding-right:20px;
  border-radius:35px;
  position:absolute;
  bottom:0;
  right:0;
  height:45px;
  background-color:rgba(255, 255, 255, .5);
  margin:10px;
  text-align:center;
  font-size:30px;
}
.item_results
{
  width: 100%;
  z-index:0;
  margin: 0px;
  display:flex;
  width:100%;
  position:relative;
  background-color: lightgray;
}
.item
{
  z-index:0;
  width: 20%;
  margin: 0px;
  height: auto;
  float: left;
  position:relative;
}
.item_header_type
{
  position:absolute;
  top:0;
  margin:10px;
}
.item_panel
{
  position:absolute;
  bottom:0;
  margin:10px;
}
.item img {
    z-index:0;
    transition: .2s filter;
    filter: grayscale(10%) brightness(.8);
}
.item:hover img:hover {
    z-index:0;
  filter: grayscale(0%) brightness(1.05);
}
.content
{
  width:100%;
  background-color: white;
}
#manage_content
{
  width:70%;
  margin:auto;
}
#manage_item
{
  display: inline-block;
  position:relative;
}
#manage_item_checkbox
{
  position:absolute;
  top:0px;
  right: 5px;
  width:10px;
  height:10px;
}
#manage_item_text
{
  position:absolute;
  bottom:15px;
  left: 5px;
  width:10px;
  height:10px;
}
#manage_item_selection
{

}
#footage_content
{
  width:100%;
  margin:auto;
  background-color:lightgray;
}
#footage_display
{
  width:100%;
  padding-left:10%;
  padding-right:10%;
  margin:auto;
}
#geometry_content
{
  width:100%;
  margin:auto;
  background-color:lightgray;
}
#apply_people_tags
{
  display: inline-block;
  width:100%;
  text-align:center;
  font-size:10px;
  padding-top:30px;
  padding-bottom:30px;
  color:black;
  background-color:lightgray;
}
.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
/** CSS **/
.clicky {
  /** Offset the Position **/
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 5px;

  /** 3D Block Effect **/
  box-shadow: 0 5px 0 darkgray;

  /** Make it look pretty **/
  display: block;
  background: rgb(190, 190, 190);
  padding: .5em 1em;
  border: 0;
  cursor: pointer;
}

.clicky:active {
  /** Remove 3D Block Effect on Click **/
  box-shadow: none;
  top: 10px;
  margin-bottom: 0;
}

.clicky:hover {
  opacity: .8;
}

.clicky:active,
.clicky:focus {
  /** Remove Chrome's Ugly Yellow Outline **/
  outline: 0;
}
